<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                       http://www.springframework.org/schema/context  
                       http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                       http://www.springframework.org/schema/aop  
                       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
                       http://www.springframework.org/schema/tx  
                       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionMgr"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 配置事务传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionMgr">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 那些类使用事务 -->
	<aop:config>
		<aop:pointcut id="point-cut"
			expression="execution(* com.ccinterviewer.dao.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="point-cut" />
	</aop:config>

	<bean id="regMailDAO" class="com.interviewer.dao.RegMailDAO" />
	<bean id="interviewerDAO" class="com.interviewer.dao.InterviewerDAO" />
	<bean id="companyDAO" class="com.interviewer.dao.CompanyDAO" />
	<bean id="articeDAO" class="com.interviewer.dao.ArticleDAO" />
	<bean id="userInfoDAO" class="com.interviewer.dao.UserInfoDAO" />

	<bean id="serviceTemplate" class="com.interviewer.base.ServiceTemplateImpl" />
	<bean id="registService" class="com.interviewer.service.RegistServiceImpl"></bean>
	<bean id="articleService" class="com.interviewer.service.ArticleServiceImpl"></bean>


	<bean id="mailSender" class="com.interviewer.core.MailSenderImpl"></bean>
	<bean id="queryCompanyService" class="com.interviewer.query.QueryCompanyServiceImpl"></bean>

	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">


		<property name="host">
			<value>smtp.163.com</value>
		</property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
		<property name="username">
			<value>dantianxuan@163.com</value>
		</property>
		<property name="password">
			<value>3145275she</value>
		</property>
	</bean>

</beans>