 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">欢迎登陆</div>
            <div class="panel-body">

                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>请注意</strong> 用户或者密码错误
                </div>

                <form class="form-horizontal" id="regEmailForm">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">用户名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="inputName" placeholder="账户名称为邮箱地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswd" class="col-lg-2 control-label">用户密码</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="inputPasswd" placeholder="账户密码">
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-8">
                                    <button type="submit" class="btn btn-primary col-lg-3">
                                        登陆
                                    </button>
                                </div>
                        </div>
                    </fieldset>
                </form>
                <hr/>
                <a  href="#" style="margin: 12px">忘记密码</a>
                <a  href="#" style="margin: 12px">快速注册用户</a>
                <a  href="$link.contextPath/regist/reg_interviewer_init.htm" style="margin: 12px">注册面试官</a>
            </div>
        </div>
    </div>
</div>