        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">用户信息注册</div>
                    <div class="panel-body">
                    #if($message)	
                    <div class="alert alert-dismissable alert-warning">
					  <button type="button" class="close" data-dismiss="alert">×</button>
					  <p>$message</p>
					</div>
					#end

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">用户名称</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="请使用邮箱注册">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">密码</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">重复密码</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="repassword" placeholder="Password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary">注册信息</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
