#set($jobseeker=$session.getAttribute("SESSION_JOBSEEKER_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
<input type="hidden" name="interviewerId" value="$!interviewer.id">
<input type="hidden" name="jobseekerId" value="$jobseeker.id">

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>面试官信息</div>
		  <div class="panel-body">
                  <div class="col-lg-2">
                        <img src="$link.contextPath/STATIC/image/alipay.jpg" class="img-rounded" style="width: 82px;height: 82px;">
                    </div>
                    <div class="col-lg-5">
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">名称:</span>$!interviewerVO.interviewer.name</p>
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">邮箱:</span>$!company.name</p>
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">公司:</span>$!interviewer.name</p>
                    </div>
                    <div class="col-lg-5">
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">手机:</span>$!interviewer.name</p><br/>
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">等级:</span>$!company.name</p><br/>
	                    <p class="col-lg-12"><span class=" text-right col-lg-4">认证状态:</span>$!interviewer.name</p>		                    
                    </div>	
		  </div>
  		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>面试记录状态</div>
		  <div class="panel-body">
                    <div class="col-lg-12" >
						  <p>
							  <button type="button" class="btn   btn-success disabled ">创建预约订单</button>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <button type="button" class="btn 
							  	#if($interview.step>1)  btn-success disabled  
							  	#elseif($interview.step==1) btn-primary   
							  	#else  btn-default disabled #end">进行支付</button>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <button type="button" class="btn 
							  	#if($interview.step>2)  btn-success disabled  
							  	#elseif($interview.step==2) btn-primary   
							  	#else  btn-default disabled #end">进行面试咨询</button>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <button type="button" class="btn 
							  	#if($interview.step>3)  btn-success disabled  
							  	#elseif($interview.step==3) btn-primary   
							  	#else  btn-default disabled #end">完成评价</button>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <button type="button" class="btn btn-default disabled">
							   <span class="glyphicon glyphicon-ok"></span>
							  </button>
						  </p>
						  <p class="text-primary">您的预约会创建一笔担保交易，只有在完成咨询和确认后，才能最终完成交易.</p>
                    </div>
		  </div>
  		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>备注信息</div>
		  <div class="panel-body">
		  		$!interview.memo
		  </div>
  		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> 消息留言</div>
		  <div class="panel-body">
		  	#foreach($messageVO in $messageVOs)
		  		#if($messageVO.message.creatorRole==2)
			  		<div class="col-lg-12">
				  		<div class="col-lg-1">
				  			<img src="$link.contextPath/STATIC/image/alipay.jpg" class="img-rounded" style="width: 60px;height: 60px;">
				  		</div>
				  		<div class="col-lg-11">
				  			<div class="col-lg-10  text-left" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">我    <span style="float:right;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  	</div>
		  		#elseif($messageVO.message.creatorRole==1)
			  		<div class="col-lg-12">
				  		<div class="col-lg-11">
				  			<div class="col-lg-10  text-right col-lg-offset-2" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">面试官:$messageVO.interviewerVO.interviewer.name <span style="float:left;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  		<div class="col-lg-1">
				  			<img src="$link.contextPath/STATIC/image/alipay.jpg" class="img-rounded" style="width: 60px;height: 60px;">
				  		</div>				  		
				  	</div>
		  		#end
		  	#end
		  	<form id="sendMessageForm">
			<div class="col-lg-12">
				<hr/>
                <script type="text/plain" id="myEditor" name="message" style="width:100%;height:200px;">$!article.content</script>
                <script type="text/javascript">
				    $(function(){
				        window.um = UM.getEditor('myEditor', {
				            /* 传入配置参数,可配参数列表看umeditor.config.js */
				            toolbar: ['undo redo | bold italic underline']
				        });
				    });
                </script>   
                <br/>
                <input type="hidden" name="creatorRole" value="2"/>
                <input type="hidden" name="creator"  value="$jobseeker.id"/>
                <input type="hidden" name="relId" value="$interview.id"/>
			   <button type="button" class="btn btn-danger col-lg-2" style="float:right;" onclick="sendMessage()">留言</button>
		  	</div>
		  	</form>
		  </div>
		</div>
	</div>
</div>
<script>
	function sendMessage(){
		console.log($('#sendMessageForm').serialize());
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/sendInterviewShotMessage.json",
             data: $('#sendMessageForm').serialize(),
             dataType: "json",
             success: function(data){
             	console.log(data);
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
</script>
