#set($interviewerHolder=$session.getAttribute("SESSION_JOBSEEKER_OBJECT"))
   
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                	欢迎您：大大猫 
                </div>
                <div class="panel-body">
						<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-star"></span>  我的预约</button>
						<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span>  我的咨询</button>
						<button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-paperclip"></span>个人简历</button>
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span>  个人信息</button>
						<button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-envelope"></span>  站内信箱</button>
           	 	</div>
        	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
	                我的记录
	                <span class="label label-warning"><a style="color:#fff" href="#">预约等待
	                	<span  class="badge" style="color:#fff;margin-top:2px;">0</span></a></span>
					<span class="label label-primary"><a style="color:#fff" href="#">进行中</a></span>
					<span class="label label-success"><a style="color:#fff" href="#">等待评价</a></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                    	<div class="col-lg-12">
                    		#if($result && $result.object)
  							<div class="well well-sm clearfix">
	                            <div class="col-lg-2">
	                                <img src="$link.contextPath/STATIC/image/alipay.jpg" style="width: 80px;" class="img-rounded">
	                            </div>
	                            <div class="col-lg-10">
	                                <p class="text-warning">一条大猫，毛毛多  <span style="float: right">2013-12-23 <span class="badge">好评</span></span></p>
	                                <p class="text-warning">
	                                    <small>非常不错的面试官，几句话就能听出我的基本水平，并针对我的需要面试的岗位提出了很多有效的建议，虽然最后没有通过，但是还是感觉到了面试官的专业水准
	                                    </small>
	                                </p>
	                                <p style="float: right">
	                                    <button type="button" class="btn btn-xs btn-danger">完成面试<span style="color: red;margin-left: 12px;" class="badge">H</span></button>
	                                    <button type="button" class="btn btn-xs btn-warning">查看信息</button>
	                                    <button type="button" class="btn btn-xs btn-warning">给点建议</button>
	                                </p>
	                            </div>
	                        </div>
                    		#else
								 对不起，当前无记录                    		
                    		#end
                   		</div>
                    </div>
					#if($result && $result.object)
	                    <div class="row">
	                        <ul class="pagination pagination-sm" style="float: right">
	                            <li class="disabled"><a href="#">«</a></li>
	                            <li class="active"><a href="#">1</a></li>
	                            <li><a href="#">2</a></li>
	                            <li><a href="#">3</a></li>
	                            <li><a href="#">4</a></li>
	                            <li><a href="#">5</a></li>
	                            <li><a href="#">»</a></li>
	                        </ul>
	                    </div>
                	#end
                </div>
            </div>
        </div>
</div>