#set($interviewerHolder=$session.getAttribute("SESSION_NTERVIEWER_OBJECT"))
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
	                    <div class="col-lg-4">
	                        <img src="$link.contextPath/UPLOAD/$!interviewerHolder.photo" class="img-rounded" style="width: 82px;height: 82px;">
	                    </div>
	                    <div class="col-lg-8">
	                    <p>名称：$!interviewerHolder.name</p>
	                    <p>单位：$!interviewerHolder.company</p>
	                    <p>等级：$!interviewerHolder.level</p>
	                    </div>
                    </div>
                    <div class="row" >
                       <div class="col-lg-6">
                       <a>等级和收费<span class="badge">?</span></a>
                       </div>
                        <div class="col-lg-6">
                            <a>等级和收费<span class="badge">?</span></a>
                        </div>
                        <div class="col-lg-6">
                            <a>等级和收费<span class="badge">?</span></a>
                        </div>

                        <div class="col-lg-6">
                            <a>等级和收费<span class="badge">?</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- right CONTENT
   ================================================== -->
        <div class="col-lg-8" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">个人简介</h5>
                </div>
                <div class="panel-body" style="font-size: 14px;">
                    $!interviewerHolder.description
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">面试记录</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="well well-sm clearfix">
                            <div class="col-lg-2">
                                <img src="$link.contextPath/STATIC/image/alipay.jpg" style="width: 80px;" class="img-rounded">
                            </div>
                            <div class="col-lg-10">
                                <p class="text-warning">一条大猫，毛毛多  <span style="float: right">2013-12-23 <span class="badge">好评</span></span></p>
                                <p class="text-warning">
                                    <small>非常不错的面试官，几句话就能听出我的基本水平，并针对我的需要面试的岗位提出了很多有效的建议，虽然最后没有通过，但是还是感觉到了面试官的专业水准
                                    </small>
                                </p>
                                <p style="float: right">
                                    <button type="button" class="btn btn-xs btn-danger">完成面试<span style="color: red;margin-left: 12px;" class="badge">H</span></button>
                                    <button type="button" class="btn btn-xs btn-warning">查看信息</button>
                                    <button type="button" class="btn btn-xs btn-warning">给点建议</button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <ul class="pagination pagination-sm" style="float: right">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>