
<div class="row">
	<div class="col-lg-12">
	<div class="jumbotron">
	  <h3>Sorry！</h3>
	  <p>对不起出错了，你可以选择，刷新页面或者稍后重试，或者联系我们</p>
	  <p><a class="btn btn-primary btn-lg">报告错误</a></p>
	</div>
	</div>
</div>
