<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-8">
            <p>浙江工商信息网站 <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
            <p>浙江虫虫网络技术有限工商 Allright reserved </p>
            <p></p>
        </div>
        <div class="col-lg-4">
            合作伙伴
        </div>
    </div>
</div>
