#set($interviewerVO=$session.getAttribute("SESSION_INTERVIEWER_OBJECT"))
#set($jobseeker=$session.getAttribute("SESSION_JOBSEEKER_OBJECT"))
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="$link.contextPath/index.htm" class="navbar-brand">面团网</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            	#if($interviewerVO || $jobseeker)
                <li>
                    <a href="$link.contextPath/mySelf.htm">个人主页</a>
                </li>
                #end
                <li>
                    <a href="#">优选人才</a>
                </li>

                <li>
                    <a href="$link.contextPath/article.htm?articleId=1">关于我们</a>
                </li>

            </ul>
			#if($interviewerVO)
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                       <img src="$link.contextPath/STATIC/image/alipay.jpg" style="width:30px;height: 30px;margin-bottom:6px; float:left" class="img-rounded"/>
                        <div  style="float: left;margin-top:4px;font-size: 16px;">欢迎您面试官：$interviewerVO.interviewer.name</span><span class="caret"></span></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="$link.contextPath/jobseeker/personal.htm" data-toggle="tab">个人信息</a></li>
                        <li><a href="#dropdown1" data-toggle="tab">我的面试</a></li>
                        <li><a href="#dropdown2" data-toggle="tab">站内信</a></li>
                        <li><a href="$link.contextPath/logout.htm">注销</a></li>
                    </ul>
                </li>
            </ul>
			#elseif($jobseeker)
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                       <img src="$link.contextPath/STATIC/image/alipay.jpg" style="width:30px;height: 30px;margin-bottom:6px; float:left" class="img-rounded"/>
                        <div  style="float: left;margin-top:4px;font-size: 16px;">欢迎您：$jobseeker.name</span><span class="caret"></span></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="$link.contextPath/jobseeker/personal.htm" data-toggle="tab">个人信息</a></li>
                        <li><a href="#dropdown1" data-toggle="tab">我的面试</a></li>
                        <li><a href="#dropdown1" data-toggle="tab">简历修改</a></li>
                        <li><a href="#dropdown2" data-toggle="tab">账户信息</a></li>
                        <li><a href="#dropdown2" data-toggle="tab">站内信</a></li>
                        <li><a href="$link.contextPath/logout.htm">注销</a></li>
                    </ul>
                </li>
            </ul>
			#else
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a  href="$link.contextPath/login.htm" >
                       登陆
                    </a>
                </li>
            </ul>
			#end
        </div>
    </div>
</div>